.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-device-width: 812px) {
  .App {
    min-height: calc(var(--vh, 1vh) * 100);
  }
}

.LoadingBar {
  background: #8c8c8c;
  width: 400px;
  height: 40px;
  overflow: hidden;
  z-index: 1;
}

@media screen and (max-width: 510px) {
  .LoadingBar {
    width: 200px;
  }
}

.LoadingBar .LoadingBarFill {
  height: 36px;
  margin: 2px;
  background: #ffffff;
  transition: 0.3s width ease-out;
}
